.haeder{
    width: 40vw;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    border:solid #ff0000 2px;
    background-color: #ff0000;
    box-shadow: 0.4vw 0.4vw 0.4vw;

}

.resname{

    font-size: 60px;
}
.opetider{
    margin-bottom: 10px;
}


.navigation_menu{
    position: fixed;
    border:solid #ff0000 2px;
    width: 20vw;
    height: 40vw;
    bottom: 0;
    text-align: center;
    background-color: #ff0000;
    left: 0;
    box-shadow: 0.4vw 0.4vw 0.4vw;


}
.navigation_menu2{
    width: 100%;
    margin: auto;
    border:solid #ff0000 2px;
    background-color: #ff0000;
    box-shadow: 0.4vw 0.4vw 0.4vw;
    text-align: center;


}

.startpage{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meny{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pizza_button{
    margin-left: 5vw;
    margin-top: 1vw;
    width: 10vw;
    border: solid darkorange 5px;
    background-color: orange;
    text-align: center;
    box-shadow: 0.2vw 0.2vw 0.2vw;
}


#pizzor{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2vw;
    width: 70%;
    border: solid darkorange 5px;
    background-color: orange;
}
#sallad_button{
    margin-left: 5vw;
    margin-top: 1vw;
    width: 10vw;
    border: solid green 5px;
    background-color: yellowgreen;
    text-align: center;
    box-shadow: 0.2vw 0.2vw 0.2vw;
}
#sallader{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2vw;
    width: 70%;
    border: solid green 5px;
    background-color: yellowgreen;

}


#annat_button{
    margin-left: 5vw;
    margin-top: 1vw;
    width: 10vw;
    border: solid #D1DC09 5px;
    background-color: yellow;
    text-align: center;
    box-shadow: 0.2vw 0.2vw 0.2vw;
}
#annat{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2vw;
    width: 70%;
    border: solid #D1DC09 5px;
    background-color: yellow;
}
#dricka_button{
    margin-left: 5vw;
    margin-top: 1vw;
    width: 10vw;
    border: solid dodgerblue 5px;
    background-color: turquoise;
    text-align: center;
    box-shadow: 0.2vw 0.2vw 0.2vw;
}
#dricka{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2vw;
    width: 70%;
    border: solid dodgerblue 5px;
    background-color: turquoise;
}

.vaegbeskrivning{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontinfo{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#meny{
    width: 50vw;
    border: solid black 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25vw;
    display: block;
}
#info{
    width: 50vw;
    border: solid black 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.25vw;
    display: block;
    height: 30vw;
}
#info p{
    margin-left: 10px;
}
#meny a{
    font-size: 200%;

}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a:hover {
    color: darkgray;

}

img{
    position: absolute;
    bottom: 0;
    right: 25vw;

}

td{
    padding-top: 10px;
    padding-bottom: 10px;
}
.emptytd{
    width: 5vw;
}

@media (orientation: landscape) {
    .navigation_menu2{
        display: none;
    }
    .navigation_menu{
        display: true;
    }
}

@media (orientation: portrait){
    .haeder {
        width: 100%;
    }
    .navigation_menu{
        display: none;

    }

    #meny{
        width: 100%;
        border: solid black 2px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.25vw;

    }
    #pizza_button{
        width: 15vw;
    }
    #annat_button{
        width: 15vw;
    }
    #dricka_button{
        width: 15vw;
    }
    #sallad_button{
        width: 15vw;
    }
    img{
        position: relative;
        float: left;
        margin-top: 1vw;
    }
}